<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "My Projects", user_path(@user) %></li>
  <li role="presentation" class="active"><%= link_to "Edit Profile", edit_user_path(@user) %></li>
</ul>
<br>
<%= render partial: "form" %>
