/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

 html {
   background-color: #21B3A9;
 }

 .login {
  background-color: #18333A;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
 }

 .form-field {
   color: #000000;
   font-weight: bold;
 }

 .form-group .form-field {
   border-radius: 0;
 }

 @media only screen and (max-width : 768px) {
   .form-group .form-field {
     text-align: center;
   }
}

.btn-square.btn.btn-default {
  color: #21B3A9;
  border-radius: 0;
}

.btn-square.btn.btn-default:hover {
  color: #21B3A9;
}

 #header-logo {
   display:block;
 }

 #header {
   text-align: center;
   color: white;
   font-family: "Comic Sans MS";
   font-weight: bolder;
   font-size: 400%;
 }

 .background {
   background-color: #21B3A9;
 }

 .white-text {
   color: #ffffff;
 }

#registration {
  font-family: "Comic Sans MS";
}

.well {
  margin-top: 15px;
}

#nav-header {
  font-family: "Comic Sans MS";
  font-weight: bolder;
  margin-top: 0;
  color: white;
  text-shadow:
  -1px -1px 0 #7C7C7C,
  1px -1px 0 #7C7C7C,
  -1px 1px 0 #7C7C7C,
  1px 1px 0 #7C7C7C;
}

.project-list:before {
  content: "»";
  padding-right: 8px;
  color: #21B3A9;
}

.list-style {
  list-style: none;
  padding: 10px;
  margin: 0;
  font-size: 150%;
}

#logout-btn {
  float: right;
}

#projects td, #projects th, #projects tr {
  border: 1px solid black;
  padding: 10px;
  background: #ffffff;
}

.statuses {
  width: 200px;
}
